.idea/
.vscode/
.zed/
.env
.env.*
.DS_Store
.vercel

env
# legacy package manager lockfiles
package-lock.json
yarn.lock

# package manager files
node_modules/*

resources
public/js/*
public/workspaces/*
public/js/plugins/*
!public/dictionaries/*

docs/*

*.pem
*.crt
/*.json
/*.jsonc
!tests/*.json
!tests/**
!package.json
!jsdoc*.json
!codi.json
!biome.json
